@import "compass/css3";

.document-upload {
	padding: 0px;

	.inner {
		padding: 10px;
		position: relative;
		background: white;
		min-height: 100px;
		margin-bottom: 20px;
		text-align: center;
		border: 1px dashed #ccc;

		h3 {
			top: 50%;
			font-size: 22px;
			position: absolute;
			margin: 0 auto;
			margin-top: -10px;
			width: 100%;
		}

		&.highlighted {
			background: #efefef
		}

		.overlay {
			padding: 0px 45px;
			width:100%;
			height: 100%;
			background: transparent;
			position: absolute;
			left: 0px;
			top: 0px;
			right: 0px;
			bottom: 0px;
		}
	}
}


.documents-title {
	font-size: 20px;
	margin: 15px 0px;
}

.document-item {
	cursor: pointer;
	float: left;
	width: 310px;
	border: 1px solid #EEE;
	margin-top: 10px;
	margin-left: 10px;
	padding: 18px 22px 28px 28px;

	.preview {
		height: 95px;
		width: 99px;
		float: left;
		background: url("/public/images/document_folder.png") no-repeat top center;
	}

	.text {
		width: 210px;
		float: left;
		text-align: center;
		font-size: 13px;
		color: #333;

		p {
			margin-top: 20px;
			text-align: left;
		}
	}

	&:hover {
		background: #efefef;
	}
}

#uploadDocumentDialog {
	width: 420px;

	input[type=text] {
		width: 250px;
	}

	select {
		width: 259px;
	}

	textarea {
		height: 100px;
		width: 248px;
	}

	form {
		padding: 5px 10px 10px 10px;
	}

	input[type="file"]::-webkit-file-upload-button {}
}