.root {
	padding: 20px 0px 80px 0px;

	span,
	h1,
	h2,
	h3,
	h4,
	h5,
	center,
	p {
		color: $base-color;
	}
}

.default-layout {
	.root {
		padding-top: 45px;
		background: $default-root-background;
	}
}

.login-layout {
	.root {
		background: $login-root-background;
		padding-bottom: 20px;
	}
}


#login-form {
	padding-top:10px;
	margin-top: 10px;
	border-top: 1px solid white;
}

.app-description {
	font-weight: 600;
	font-size: 32px;
	text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
	margin-bottom: 25px;
	line-height: 18px;
	width: 650px;
	float: left;
}

.auth-container {
	float: right;
	width: 220px;

	.email {
		background: white url(/public/images/email.png) no-repeat 95% 50%;
	}

	.tab {
		min-height: 180px;
	}

	form {
		height: 115px;
	}

	.btn {
		border-radius: 0px;
	}

	center {
		line-height: 20px;
	}
}

.app-desc {
	list-style-type: disc;
	margin-left: 20px;

	li {
		margin-left: 20px;
	}
}