/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body {
	height: 100%;
	top: 0px;
  	right: 0px;
  	bottom: 0px;
  	left: 0px;
  	height: 100%;
}

* {
	font-family: 'Open Sans', sans-serif !important;
}

// layouts
.login-layout {
	background-color: #F90;
	background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.3, rgba(255, 255, 255, .2)), color-stop(.3, transparent), to(transparent));

	.root {
		margin: 0 auto;
		width: 1080px;
		padding-top: 200px;
	}
}

.default-layout {
	.brand {
		float: none;
		text-align: center;
	}

	.left-col,
	.right-col,
	.middle-col {
		height: 100%;
	}

	.root {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		background-color: #F90;
		background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.3, rgba(255, 255, 255, .2)), color-stop(.3, transparent), to(transparent));
	}
}


.btn {
	padding: 8px 20px;
    background: #4479BA;
    margin-top: -35px;
    float: right;
    font-weight: 600;
    color: #FFF;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);

	&:hover {
		background: #356094;
		 color: #FFF;
	    border: solid 1px #2A4E77;
	    text-decoration: none;
	}

	&:active {
		color: #FFF;
		background: -webkit-linear-gradient(bottom, #465a8d, #4b64a5);
		-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	    background: #2E5481;
	    border: solid 1px #203E5F;
	}
}

.left-col {
	float: left;
	width: 250px;
	position: relative;
	border-right: 1px solid #999;
}

.right-col {
	float: right;
	width: 250px;
	border-left: 1px solid #999;
}

.middle-col {
	margin: 0 250px;
	position: relative;
}

.text-center {
	text-align: center;
}

.no-scroll {
	overflow: hidden;
}

.scrollable {
	overflow: auto;
	position: absolute;
	top: 40px;
	bottom: 5px;
	left: 5px;
	right: 5px;
}

a {
	color: #4479BA;
	cursor: pointer;
}

.navbar-inner {
	.logout {
		position: absolute;
		top: 10px;
		right: 15px;
	}
}

#play-btn {
	margin-top: -55px;
}




// spinners
.ball {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-top:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 35px #2187e7;
	width:50px;
	height:50px;
	margin:0 auto;
	-moz-animation:spin .5s infinite linear;
	-webkit-animation:spin .5s infinite linear;
}
.ball1 {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-top:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 15px #2187e7; 
	width:30px;
	height:30px;
	margin:0 auto;
	position:relative;
	top:-50px;
	-moz-animation:spinoff .5s infinite linear;
	-webkit-animation:spinoff .5s infinite linear;
}
@-moz-keyframes spin {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg); }
}
@-moz-keyframes spinoff {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes spin {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(-360deg); }
}

#center-spinner {
	position: absolute;
	top: 45%;
	left: 0px;
	right: 0px;
}

.adipoli-wrapper
{
    margin:auto;
    position:relative;
    display: inline-block;
}
.adipoli-wrapper>img
{
    position: absolute;
    z-index: 1;
}
.adipoli-before
{
    position: absolute;
    z-index: 5;
}
.adipoli-after
{
    position: absolute;
    z-index: 10;
}
.adipoli-slice {
    display:block;
    position:absolute;
    z-index:15;
    height:100%;
}
.adipoli-box
{
    display:block;
    position:absolute;
    z-index:15;
}

#center-field {
	position: absolute;
	bottom: 45%;
	left: 50%;
	width: 200px;
	margin-left: -175px;
}

.xx-large {
	height: 25px;
	width: 350px;
}

#submit-button {
	margin-right: -215px;
	margin-top: -45px;
	height: 30px;
	padding: 0px 26px;
}

#center-field h1, h2, h3, h4, h5 {
	color: #444;
}