/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../sass/screen.scss */
html, body {
  height: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;
}

/* line 14, ../sass/screen.scss */
* {
  font-family: 'Open Sans', sans-serif !important;
}

/* line 20, ../sass/screen.scss */
.login-layout {
  background-color: #F90;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, transparent), to(transparent));
}
/* line 26, ../sass/screen.scss */
.login-layout .root {
  margin: 0 auto;
  width: 1080px;
  padding-top: 200px;
}

/* line 34, ../sass/screen.scss */
.default-layout .brand {
  float: none;
  text-align: center;
}
/* line 41, ../sass/screen.scss */
.default-layout .left-col,
.default-layout .right-col,
.default-layout .middle-col {
  height: 100%;
}
/* line 45, ../sass/screen.scss */
.default-layout .root {
  position: absolute;
  top: 60px;
  left: 0px;
  right: 0px;
  bottom: 10px;
}

/* line 55, ../sass/screen.scss */
.btn {
  padding: 8px 20px;
  background: #4479BA;
  margin-top: -35px;
  float: right;
  font-weight: 600;
  color: #FFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: solid 1px #20538D;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 71, ../sass/screen.scss */
.btn:hover {
  background: #356094;
  color: #FFF;
  border: solid 1px #2A4E77;
  text-decoration: none;
}
/* line 78, ../sass/screen.scss */
.btn:active {
  color: #FFF;
  background: -webkit-linear-gradient(bottom, #465a8d, #4b64a5);
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  background: #2E5481;
  border: solid 1px #203E5F;
}

/* line 89, ../sass/screen.scss */
.left-col {
  float: left;
  width: 250px;
  position: relative;
  border-right: 1px solid #999;
}

/* line 96, ../sass/screen.scss */
.right-col {
  float: right;
  width: 250px;
  border-left: 1px solid #999;
}

/* line 102, ../sass/screen.scss */
.middle-col {
  margin: 0 250px;
  position: relative;
}

/* line 107, ../sass/screen.scss */
.text-center {
  text-align: center;
}

/* line 111, ../sass/screen.scss */
.no-scroll {
  overflow: hidden;
}

/* line 115, ../sass/screen.scss */
.scrollable {
  overflow: auto;
  position: absolute;
  top: 40px;
  bottom: 5px;
  left: 5px;
  right: 5px;
}

/* line 124, ../sass/screen.scss */
a {
  color: #4479BA;
  cursor: pointer;
}

/* line 130, ../sass/screen.scss */
.navbar-inner .logout {
  position: absolute;
  top: 10px;
  right: 15px;
}

/* line 137, ../sass/screen.scss */
#play-btn {
  margin-top: -55px;
}
